.serverFrame {
  border: 3px double #ccc;
}

.serverFrame h2, h3, h4 {
  text-align: center;
}
.serverFrame dt {
  color: green;
  min-width: 250px;
}
.serverFrame dt:after {
  content: ":";
}
.serverFrame dd {
  margin-left: 255px;
}

.collapse.am-collapse {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  overflow: hidden;
  &.in-remove {
    animation-name: collapse;
    display: block;
  }
  &.in-add {
    animation-name: expand;
  }
}
